/*SKEWED BUTTON*/
.skew {
    position: relative;
    transform: skewX(-20deg);
    height: auto;
    width: 8rem;    
    text-align: center;
    overflow: hidden;
}

.skew > a {
    font-family: var(--ff-brand);
    display: block;
    line-height: 3rem;
    font-size:1.5rem;
    text-align: center;
    color: #E5E5E5;
    transform: skewX(20deg);
}

.primary {
    border: 2px var(--primary-clr) solid;
    background-color: var(--primary-clr);
}

.secondary {
    border: 2px var(--secondary-clr) solid;
    background-color: var(--secondary-clr);
}


.skew.primary::before {
    position: absolute;
    content: "";
    width: 8rem;
    height: 4rem;
    bottom: 20px;
    left:-150px;
    background-color: var(--secondary-clr);
    transition: all 0.25s ease;
}

.skew.primary:hover::before,
.skew.primary:focus::before{
    left: 0;
    bottom: 0;
}
.skew.primary:hover a,
.skew.primary:focus a {
    color: var(--primary-clr);
}

.skew.secondary::before {
    position: absolute;
    content: "";
    width: 8rem;
    height: 4rem;
    bottom: 20px;
    left:-150px;
    background-color: var(--primary-clr);
    transition: all 0.25s ease;
}

.skew.secondary:hover::before,
.skew.secondary:focus::before{
    left: 0;
    bottom: 0;
}
/* .skew.secondary:hover a,
.skew.secondary:focus a {
    color: var(--secondary-clr);
} */